/* MOBILE */
.jobSectionContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 24px;
}

/* TAB */
@media only screen and (min-width: 506px) {
  .jobSectionContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
  .jobSectionContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
